.button {
    width: 200px;
    height: 200px;
    background-color: #072100;
    border-radius: 5%;
    color: white;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.2);
    transition-duration: 0.4s;
    margin-right: 25px;
}

.button:hover {
    background-color: #0a3000; 
    color: white;
}