:root {
    --check-color: #D9D9D9;
}

.header {
	margin-top: 100px;
	color: #91B682;
	font-size: 40px;
	text-align: center;
}

input[type="file"] {
    display: none;
}
.custom-file-upload, button {
    border-radius: 5px;
    margin:10px;
    color: #91B682;
    background-color: var(--check-color);
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    font-size: 18px;
    font-family: 'Inder','Verdana','sans-serif';
}

.imageInput {
    display: flex;
    justify-content: center;
    color: #91B682;
}

input[type="text"] {
    border-radius: 15px;
    padding: 8px;
    border: 2px solid #ccc;
    width: 250px;
    background-color: #D2E5D2;
    color: #91B682;
}

.isRecyclable {
    text-align: center;
    border-radius: 25px;
    background: 'clear';
    padding: 15px;
    color: #28672C;
}

.centerTable, .noteList, .listDiv {
    display: flex;
    justify-content: center;
}

.objectDescription {
    text-align: center;
    color:#91B682
}

ul {
    list-style-position: outside;
}

li {
    color: #91B682;
}

td, th{
  padding: 8px;
  text-align: center;
}

tr:nth-child(even){background-color: #f2f2f2;}
tr:nth-child(odd){background-color: #d2d2d2;}

th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #D2E5D2;
}

.yesBox {
    background-color: #2ebc51;
}

.maybeBox {
    background-color: #f8dd2c;
}

.maybeNotBox {
    background-color: #f18e16;
}

.noBox {
    background-color: rgb(224, 76, 76);
}

.mapLink {
	margin-top: 20px;
	color: #91B682;
	font-size: 20px;
	text-align: center;
}